<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Khoa Pham Online 123</h3>
        <img src="/a.png" alt="avatar">
    </body>
</html>
<script src="reload/reload.js"></script>